<!DOCTYPE html>
<html>
<head>
    <title>Pokemon List</title>
</head>
<body>
    <h1>Pokemon Information</h1>
    <ul>           
            <li>    Name: {{ pokemon_name }}<br><br></li>
            <li>    Height: {{ pokemon_height }}<br><br></li>    
            <li>    Moves: 
                    
                        <text>{{pokemon_moves}}</text>
                    
                <br><br>
            </li> 
            <li>   
                <p>Images: 
                    <div class="image-container">
                            <img src="{{ pokemon_sprites }}" alt="Image">
                    </div>
                </li>
    </ul>
</body>
</html>
